data/EMILES_BASTI_BASE_BI_FITS/
.DS_Store
__pycache__/
uq4pk_src/__pycache__/
experiments/__pycache__/
experiments/out/
.idea/workspace.xml
.idea/tasks.xml
manuscript
*/.ipynb_checkpoints
*__pycache__*
.idea
*samples.npy
